# Use 1Password SSH Agent by default
Host *
  IdentityAgent ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

# GitHub
Host github.com
  User git
  HostName github.com
  PreferredAuthentications publickey
  AddKeysToAgent yes
